{% extends 'base.html.twig' %}

{% block title %}MANGA SEARCH | Connectez-vous{% endblock %}

{% block content %}

<div class="container">

        <h1>Connectez-vous</h1>
        {% if error %}
                <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}
        {{ form(form) }}

</div>
{% endblock %}
