{% extends 'base.html.twig' %}

{% block title %}MANGA SEARCH | Inscrivez-vous{% endblock %}

{% block content %}

<div class="container">
    <h1>Inscrivez-vous</h1>
        {{ form(form) }}
</div>
{% endblock %}
