{% extends 'base.html.twig' %}

{% block title %}MANGA SEARCH{% endblock %}

{% block content %}

<div class="container">

    <h1>MANGA SEARCH</h1>

    {% include 'components/_search.html.twig'%}


</div>

{% endblock %}
